<section class="about">
  <div class="wrapper">
    <h2>Обо мне</h2>
  </div>
  <div class="about-items-1"> 
    <div class="wrapper">
        <p>
          Приветствую вас!<br> 
          Меня зовут Виктория Владимирова.<br>
          Я дипломированный психолог-практик.<br> 
          По образованию психолог-консультант, преподаватель
          психологии. Изучала основы психодрамы.<br><br> 
          Стаж работы с 1996 г. <br>
          Создавала в 1996 – 2003 на базе общеобразовательной школы 
          психологическую службу с нуля: <br>
          консультирование, психодиагностика, индивидуальная работа по запросу, тренинги, 
          интерактивные авторские программы. <br><br>
          Участвовала в 2000 г. в создании экспериментальной площадки 
          при РАН на базе общеобразовательной школы с 8-9 классами 
          КРО по программе «Повышение учебной мотивации и 
          социально-психологической адаптации за счет активизации 
          проектно-исследовательской деятельности подростков».<br><br>
          С 2011 года проводила авторские тематические развивающие 
          программы в учебных заведениях совместно с <br>
          учителями-предметниками по активизации проектно- 
          исследовательской деятельности младших школьников и участии 
          в городских и региональных конкурсах проектов.
        </p>
    </div>  
      <div class="photo-items-1"></div>  
  </div>
  <div class="about-items-2">
    <div class="wrapper">
        <p>
          В 2014 основала проект «ПрофиПолис», <br>
          который в дальнейшем стал Межрегиональной Открытой Площадкой по 
          профессиональному самоопределению детей и взрослых с целью 
          консолидации авторских проектов и создания партнерских программ с 
          наставниками-профессионалами в различных областях. Например, 
          «ПрофиПолис» стал в 2018 партнером РОО ОМСМ, а в 2019 амбассадором 
          ОСИГ (Общенационального Союза Индустрии Гостиприимства), представляя 
          свой проект «Детское турагентство «Ритм». <br><br>
          С 2016 года активно принимала участие в общественной жизни в качестве 
          экспертной и партнерской работы с начинающими предпринимателями и 
          самозанятыми и участвовала в создании сообщества индивидуальных 
          предпринимателей при сотрудничестве с комитетами Деловой России. <br><br>
          С 2018 года, став многодетной мамой, активно включилась в социальную 
          работу в качестве куратора одного из районов Москвы от РОО ОМСМ 
          (Объединения Многодетных Семей Москвы). <br><br>
          В настоящий момент я, как эксперт по профессиональному 
          самоопределению, делаю акцент на теме создания с детства и поддержания 
          в течение всей жизни своей ресурсной среды – совокупности всех 
          внутренних индивидуальных ресурсов и внешних возможностей, средств, 
          источников, позволяющих осуществлять процесс 
          личностно-профессиональной самореализации и достигать поставленных целей. <br>
          В наше время стандартный подход профориентирования уже недостаточен 
          для определения будущей профессии подростков или в вопросе 
          переквалификации взрослых, стоящих на пороге смены профессии. 
          Необходим комплексный подход знания, понимания и использования 
          своего личностного и профессионального потенциала. 
          А для этого необходима индивидуальная работа в процессе самопознания и 
          честных ответов самому себе. И здесь психолог выступает как профессиональный помощник.
        </p>
    </div>   
         <div class="photo-items-2"></div> 
  </div>
</section>