<section class="consultation">
  <div class="header">
    <div class="wrapper">
        <h2>
            Консультации
        </h2>
      </div>
      <nav>
        <ul>
          <div class="wrapper">
            <li class="active">Подросткам</li>
            <li class="">Родителям</li>
            <li>Взрослым</li>
           </div> 
        </ul>       
      </nav>
  </div>

 <div class="wrapper">
   <div class="body">
      <h6>Ко мне обращаются, если думают:</h6>
      <p>        
        «Я не знаю, как нормально общаться с родителями, они меня достали.» <br>
        «Я себе не нравлюсь, все просто ужасно!» <br>
        «Меня никто не понимает в классе, у меня никогда не было нормальных друзей.» <br>
        «Я не знаю, чем хочу заниматься в будущем, кем стать.» <br>
        и другие многочисленные вопросы.
      </p>
    </div>
    </div>
    <div class="wrapper">
    <button>Записаться на прием</button>
    </div>
  
</section>