<section class="consultation wrapper">
  <div class="header">
    <div class="">
      <h2>
          Консультации
      </h2>
      <nav>
        <ul>
          <li>Подросткам</li>
          <li>Родителям</li>
          <li>Взрослым</li>
        </ul> 
             
      </nav>
    </div>
  </div>
</section>