<section class="contacts">
    <div class="wrapper">
        <div class="body">
          <div class="left-col">
              <h2>
                Контакты
              </h2>
              {{>social_icons}}
              <p class="description desc-1">
                  Записаться на консультацию, мастер-класс или тренинг, оперативно задать вопрос:
              </p>
              <p class="phone">
                +7 967 0978656
              </p>
              <p class="description">
                  Сотрудничество, организация мастер-классов, тренингов, лекций, корпоративных  выступлений, коммерческих мероприятий, участие в социально-значимых проектах: 
              </p>
              <p class="email">
                vision.studio@mail.ru
              </p>
          </div> 
        </div>        
    </div>
    <div class="photo"></div> 
</section>