<section class="contacts" id="contacts">
    <div class="wrapper">
        <div class="body">
          <div class="left-col">
              <h2>
                Контакты
              </h2>                      
                          
              <p class="description desc-1">
                  Записаться на консультацию, мастер-класс или тренинг, оперативно задать вопрос:
              </p>
              <p class="phone">
               <a href="tel:+7 967 0978656">+7 967 0978656</a>
              </p>
              <p class="description">
                  Сотрудничество, организация мастер-классов, тренингов, лекций, корпоративных  выступлений, коммерческих мероприятий, участие в социально-значимых проектах: 
              </p>
              <p class="email">
                <a href="mailto:mail@vivladi.ru">mail@vivladi.ru</a>
              </p>
          </div> 
        </div>        
    </div>
    <div class="photo"></div> 
</section>