<section class="feedback" id="feedback">
 <div class="wrapper"> 
    <h2>Отзывы клиентов</h2>
      <div class="slider">
      <div class="slider__wrapper">
        <div class="slider__item">
          <div style="height: 250px;">
            <div class="body-comment">
                Я себя знаю! И вас всех знаю
            </div>
            <div class="about-comment">Марина, 31 год</div>
          </div>
        </div>
        <div class="slider__item">
          <div style="height: 250px;">2</div>
        </div>
        <div class="slider__item">
          <div style="height: 250px;">3</div>
        </div>
        <div class="slider__item">
          <div style="height: 250px;">4</div>
        </div>
      </div>
      <a class="slider__control slider__control_left" href="#" role="button"></a>
      <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
    </div>
 </div> 
    <div class="carousel">
      <div class="wrapper-carousel">
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
        <div> Your Content </div>
     </div>   
    </div>


</section>