  <header>
      <div class="col-1">
        <div class="wrapper">
          <div class="title">
              <h2>
                Виктория Владимировна
              </h2>
              <p>
                  Психолог-практик, предприниматель, общественный деятель
              </p>
          </div>
          <div class="bottom-col-1">
              <p>
                Порой именно психолог может помочь разобрать в себе для дальнейших самостоятельных, 
                интересных и плодотворных путешествий по жизни. 
                Достаточно сделать первый шаг на пути к себе.
              </p>
              <div class="social-icons">
                  <img src="../../images/zen.svg">
                  <img src="../../images/inst.svg">
                  <img src="../../images/facebook.svg">
              </div>
          </div>
      </div>
    </div>

      <div class="col-2">
          
      </div>
  </header>
