  <header class="">  
        <div class="subheader wrapper">
              <div class="title">   
                <div class="top-col-1">       
                    <h2>
                      Виктория Владимирова
                    </h2>
                    <p>
                        Психолог-практик, предприниматель, общественный деятель
                    </p>
                </div>    
                    <div class="bottom-col-1">  
                        <p>        
                          «Путешествуют не в пространстве, путешествуют внутри самих себя. 
                            Новое место чарует нас в той мере, в которой обновляет нас»
                            <br><br>
                            <span>— Антуан де Сент-Экзюпери</span>
                        </p>        
                    </div> 
                </div>
      </div>
              
     <!-- <div class="photo"></div> -->
  </header>
 {{>menu}}