  <header class=""> 
        <div class="subheader wrapper">
              <div class="title">   
                <div class="top-col-1">       
                    <h2>
                      Виктория Владимировна
                    </h2>
                    <p>
                        Психолог-практик, предприниматель, общественный деятель
                    </p>
                </div>    
                    <div class="bottom-col-1">          
                        <p>
                          Порой именно психолог может помочь разобрать в себе для дальнейших самостоятельных, 
                          интересных и плодотворных путешествий по жизни. 
                          Достаточно сделать первый шаг на пути к себе.
                        </p>
                        <div class="social-icons">
                           <a href="#"> <img src="../../images/zen.svg"> </a>
                           <a href="#"> <img src="../../images/inst.svg"> </a>
                            <a href="#"> <img src="../../images/facebook.svg"> </a>
                        </div>          
                    </div>
                </div>

          <div class="subtitle">
             <p>
               «Путешествуют не в пространстве, путешествуют внутри самих себя. 
                Новое место чарует нас в той мере, в которой обновляет нас»
                <br><br>
                — Антуан де Сент-Экзюпери
              </p>
          </div>  
      </div>
      
        <div class="overlay"></div>
        
    
  </header>
