<section class="individualProgram">
  <div class="wrapper">
    <h2>Индивидуальная программа</h2>
        <p class="subtitle">
           Одна встреча, продолжительностью в один час, включает в себя:
        </p>
        <p>
           теорию; 
        </p>
        <p>
           практику;
        </p>  
        <p>
           отслеживание динамики;
        </p> 
        <p>
           систему наставников.
        </p>
        
    <div class="optionsIndividualProgram">
        <div class="options-items">
            <p>Ваш возраст</p>
            <div class="options">
              <ul>
                <li><button class="active">Подросток</button></li>
                <li><button>Взрослый</button></li>
              </ul>
            </div>

        </div>
        <div class="options-items">
            <p>Продолжительность</p>
            <div class="options">
               <ul>
                <li><button class="active">1 мес.</button></li>
                <li><button>3 мес.</button></li>
                <li><button>Полгода</button></li>
                <li><button>1 год</button></li>
              </ul>
            </div>
        </div>
    </div> 
    <div class="orderIndividualProgram">
      <div class="price">
        <h3>
          19000 руб.
        </h3>
        <p>
          скидка 5% при единовременной оплате, либо 3500 рублей за каждую всречу
        </p>
      </div> 
        <div class="clickOrder">
          <button>Купить</button>
        </div>  
    </div>   
  </div>    
</section>