<section class="menu" id="menu">
 <div class="wrapper">
      <ul class="nav-bar">
        <li class="active"><a href="#header">Главная</a></li>
        <li><a href="#consultation">Консультации</a></li>
        <li><a href="#about">Обо мне</a></li>
        <li><a href="#workshops">Мастер-классы</a></li>
        <li><a href="#feedbacks">Отзывы</a></li>
        <li><a href="#contacts">Контакты</a></li>
      </ul>  
      {{>social_icons}}
  </div>
</section>