<div id="popup">
      <div class="overlay-popup">
        <section class="popup"> 
            <div class="btn_close"></div>
            <div class="top-bar">
              <div class="wrapper">
                <ul class="">
                  <li class="active">Обратный звонок</li>
                  <li>Написать на почту</li>
                </ul>
              </div>
            </div>
            <div class="form-contain">
              <div class="wrapper">
                <p>
                  Оставьте контакты и я перезвоню Вам как можно скорее. 
                  Или Вы можете <a href="tel:+79670978656">позвонить мне</a> самостоятельно.
                </p>
                <form method="POST" action="">
                  <div class="callback">
                    <input type="text" placeholder="Имя"/>
                    <input type="tel" placeholder="Номер телефона"/>
                  </div>
                  <div class="emailsend">
                    <input type="text" placeholder="Имя"/>
                    <input type="tel" placeholder="Номер телефона"/>
                  </div>
                  <input type="submit" value="Отправить заявку"/> 
                </form>            
              </div>
            </div>      
        </section>
      </div>
</div>      