 <div class="social-icons"> 
      <a href="#"> <img src="../../images/zen.svg"></a>
      <a href="#"> <img src="../../images/inst.svg"></a>
      <a href="#"> <img src="../../images/fb.svg"></a>
      <a href="#"> <img src="../../images/whatsup.svg"></a>
  </div>