<section class="workshops">
  <div class="wrapper">
    <h2>
      Мастер-классы, тренинги, семинары
    </h2>
    <div class="seminars">
      <div class="seminars-item">
        <div class="wrapper">
        <div class="owner-cont">  
            <p class="type">
                Интерактивный мастер-класс
            </p>
            <div class="title">
                <h4>
                  Я себя знаю!
                </h4>
            </div>
          <div class="cont-desc"> 
            <div class="group">
                <p>
                  Различные возрастные группы: <br> 10-13 лет, 14-17 лет и<br> взрослая аудитория                  
                </p>
            </div>
            <div class="time">
                <p>
                  16 часов <br> (2х-дневный тренинг, с 10 до 18) <br> Краткий вариант: 3 часа 
                </p>
            </div>
          </div> 
        </div>
            <button>Узнать подробнее</button>
        </div>
      </div>

      <div class="seminars-item">
         <div class="wrapper">
        <div class="owner-cont">  
            <p class="type">
                Обучающий семинар 
            </p>
            <div class="title">
                <h4>
                  Организация школьного ресурсного центра как модели проектной и метапредметной деятельности в школе 
                </h4>
            </div>
          <div class="cont-desc"> 
            <div class="group">
                <p>
                  Учителя-предметники, педагоги-психологи, социальные педагоги, директоры школ, педагогическе коллективы в целом.                  
                </p>
            </div>
            <div class="time">
                <p>
                  3 часов
                </p>
            </div>
          </div> 
        </div>
        
            <button>Узнать подробнее</button>
      
        </div>
      </div>

      <div class="seminars-item">
        <div class="wrapper">
          <div class="owner-cont">  
            <p class="type">
                Интерактивный мастер-класс
            </p>
            <div class="title">
                <h4>
                  Эволюция профессиональной среды: soft skills и hard skills
                </h4>
            </div>
          <div class="cont-desc"> 
            <div class="group">
                <p>
                  Подростки 14-17 лет, родители, педагоги и все интересующиеся вопросами профессионального самоопределения                 
                </p>
            </div>
            <div class="time">
                <p>
                  16 часов <br> (2х-дневный тренинг, с 10 до 18) <br> Краткий вариант: 3 часа 
                </p>
            </div>
          </div> 
        </div>
            <button>Узнать подробнее</button>
        </div>
      </div>
      <div class="seminars-item">
        <div class="wrapper">
          <div class="owner-cont">  
            <p class="type">
                Интерактивный мастер-класс
            </p>
            <div class="title">
                <h4>
                  Эмоциональный интеллект и система саморегулиции
                </h4>
            </div>
          <div class="cont-desc"> 
            <div class="group">
                <p>
                  Подростки 14-17 лет, родители, профессионалы в различных областях, предприниматели и все, интересующиеся вопросами профессионального самоопределения, развития личности                  
                </p>
            </div>
            <div class="time">
                <p>
                  16 часов <br> (2х-дневный тренинг, с 10 до 18) <br> Краткий вариант: 3 часа 
                </p>
            </div>
          </div> 
        </div>
            <button>Узнать подробнее</button>
        </div>
      </div>
    </div>
  </div>
</section>