<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>headInclude}}
  </head>
  <body>  
      <div id="preloader"></div>
      {{>popup}}
      {{>header}}
      {{>consultation}}
      {{>about}}
      {{>workshops}}
      {{>feedback}}
      {{>contacts}}
      {{>scripts}}
  </body>
</html>
