<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    {{>headInclude}}
  </head>
  <body class="">  
      {{>menu}}
      {{>header}}
      {{>consultation}}
      {{>about}}
      {{>footer}}
  </body>
</html>
