body {
  background-color: #F4F5F8;
  font-size: 16px;
  color: #090709;
  font-family: "Didact Gothic";
  min-width: 320px;
  overflow: scroll;
}

.wrapper {
  margin: 0 auto;
  width: 67.7%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.noindentation, .popup .form-contain p, .popup .top-bar ul li, .popup .top-bar ul, .workshopsPop .bottom .bottom-title h2, .workshopsPop .bottom .bottom-title p, .workshopsPop .frame p, .workshopsPop .top .groupP p, .workshopsPop .top .time p, .workshops .seminars-item .title h4, .workshops .seminars-item .type, .workshops .alice-carousel .item h2, .workshops h2, .individualProgram .orderIndividualProgram p, .individualProgram .orderIndividualProgram h3, .individualProgram .optionsIndividualProgram .options-items .options ul li, .individualProgram .optionsIndividualProgram .options-items .options ul, .individualProgram .optionsIndividualProgram .options-items p, .consultation .body h6, header .bottom-col-1 p, header .title .top-col-1 p, .menu .nav-bar li, .menu .nav-bar {
  margin: 0;
  padding: 0;
}

.social-icons {
  display: flex;
  align-items: center;
}
.social-icons a {
  text-decoration: none;
  margin-left: 20px;
}
.social-icons a img {
  width: 24px;
  height: 24px;
}
.social-icons a:nth-child(1) {
  margin-left: 0;
}

.menu {
  z-index: 1000;
  background-color: #F4F5F8;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 56px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  transition: 0.5s;
}
.menu .wrapper {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.menu .menu_btn {
  position: absolute;
  right: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 34px;
  height: 14px;
  cursor: pointer;
  margin-top: 10px;
  display: none;
}
.menu .nav-bar {
  text-align: center;
  display: flex;
  align-items: center;
  height: inherit;
  transition: 0.5s;
}
.menu .nav-bar li {
  display: inline-block;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
  font-style: normal;
  font-family: "Open Sans";
  margin-left: 30px;
  list-style: none;
}
.menu .nav-bar li a {
  text-decoration: none;
  color: inherit;
}
.menu .nav-bar li:nth-child(1) {
  margin-left: 10px;
}
header {
  position: relative;
  max-height: 960px;
  min-height: 850px;
  height: 100vh;
  background-image: url("/images/MJ1C4952 2.png");
  background-position: bottom right -5%;
  background-size: 750px;
  background-repeat: no-repeat;
}
header .subheader {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100%;
  position: relative;
}
header .photo {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 50%;
  background-image: url("/images/MJ1C4952.png");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}
header .title {
  width: 400px;
  align-self: flex-start;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
header .title .top-col-1 h2 {
  margin: 0;
  padding: 0;
  font-family: "Playfair Display SC";
  font-size: 68px;
  line-height: 70px;
  margin-top: 200px;
  margin-bottom: 13px;
}
header .title .top-col-1 p {
  font-size: 18px;
  line-height: 25px;
  color: rgba(9, 7, 9, 0.75);
  margin-bottom: 116px;
}
header .subtitle {
  width: 365px;
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  z-index: 100;
  color: #F9F1ED;
  height: inherit;
  text-align: right;
  margin-bottom: 128px;
}
header .subtitle p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 27px;
  font-weight: 300;
  font-style: italic;
  font-family: "Open Sans";
}
header .bottom-col-1 {
  line-height: 26px;
  font-size: 20px;
  position: relative;
}
header .bottom-col-1 p {
  font-style: italic;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 27px;
  position: relative;
}
header .bottom-col-1 p span {
  position: absolute;
  bottom: 0;
  right: -80px;
}

.consultation {
  margin-top: 100px;
}
.consultation .header h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 53px;
  font-weight: bold;
  font-style: normal;
  font-family: "Open Sans";
}
.consultation .header nav {
  border-bottom: 0.5px solid rgba(29, 29, 29, 0.25);
  font-family: "Open Sans";
  font-size: 18px;
  margin-top: 32px;
}
.consultation .header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.consultation .header nav ul .active, .consultation .header nav ul li:hover {
  transition: 0.1s;
  color: #1D1D1D;
  border-bottom: 0.5px solid #1D1D1D;
}
.consultation .header nav ul li {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-right: 16px;
  line-height: 20px;
  color: rgba(29, 29, 29, 0.4);
  padding-bottom: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.consultation .header nav ul li:last-child {
  margin-right: 0;
}
.consultation .body {
  margin-top: 32px;
  color: #2C2C2C;
}
.consultation .body h6 {
  font-size: 18px;
  line-height: 23px;
  font-style: normal;
  font-weight: 300;
  margin-bottom: 19px;
}
.consultation .body p {
  margin: 0;
  padding: 0;
  font-size: 22px;
  line-height: 34px;
}
.consultation button {
  margin-top: 64px;
  width: 440px;
  height: 64px;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #F4F5F8;
  background-color: #000000;
  border: 0;
}

.about {
  margin-top: 100px;
}
.about h2 {
  margin: 0;
  padding: 0;
  font-size: 48px;
  line-height: 53px;
  font-weight: bold;
  font-style: normal;
  font-family: "Open Sans";
  color: #2C2C2C;
  margin-bottom: 31px;
}
.about .about-items-1 {
  margin-bottom: 128px;
  position: relative;
}
.about .about-items-1 .photo-items-1 {
  position: absolute;
  width: 44.8%;
  height: 586px;
  right: 0;
  top: 0;
  background-image: url("/images/MJ1C4970 2.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}
.about .about-items-1 p {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: left;
  width: 49%;
}
.about .about-items-2 {
  position: relative;
}
.about .about-items-2 .wrapper {
  display: flex;
  justify-content: flex-end;
}
.about .about-items-2 p {
  width: 57%;
  font-size: 18px;
  line-height: 24px;
}
.about .about-items-2 .photo-items-2 {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("/images/MJ1C4875 1.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  width: 37.8%;
  height: 624px;
}

.individualProgram {
  position: relative;
  margin-top: 100px;
}
.individualProgram h2 {
  font-size: 48px;
  line-height: 53px;
  font-family: "Open Sans";
  color: #2C2C2C;
}
.individualProgram p {
  margin: 0;
  padding: 0;
  color: #2C2C2C;
}
.individualProgram .subtitle {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 26px;
  font-style: normal;
  font-weight: normal;
}
.individualProgram p:nth-child(3) {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  font-style: normal;
}
.individualProgram p:nth-child(4) {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  font-style: normal;
}
.individualProgram p:nth-child(5) {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  font-style: normal;
}
.individualProgram p:nth-child(6) {
  font-size: 22px;
  line-height: 34px;
  font-weight: normal;
  font-style: normal;
}
.individualProgram .optionsIndividualProgram {
  display: flex;
  flex-direction: row;
  margin-top: 36px;
  font-family: "Open Sans";
}
.individualProgram .optionsIndividualProgram .options-items p {
  margin-bottom: 22px;
}
.individualProgram .optionsIndividualProgram .options-items .options ul {
  list-style: none;
  font-size: 0;
  display: table;
  width: 100%;
}
.individualProgram .optionsIndividualProgram .options-items .options ul .active, .individualProgram .optionsIndividualProgram .options-items .options .popup .top-bar ul li:hover, .popup .top-bar .individualProgram .optionsIndividualProgram .options-items .options ul li:hover, .individualProgram .optionsIndividualProgram .options-items .options .consultation .header nav ul li:hover, .consultation .header nav .individualProgram .optionsIndividualProgram .options-items .options ul li:hover {
  background-color: #2C2C2C;
  color: #ffffff;
}
.individualProgram .optionsIndividualProgram .options-items .options ul li {
  display: inline-block;
  font-size: 22px;
}
.individualProgram .optionsIndividualProgram .options-items .options ul li button {
  border: 0;
  background-color: rgba(98, 32, 0, 0.1);
  height: 64px;
  width: 100%;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.individualProgram .optionsIndividualProgram .options-items:nth-child(1) {
  width: 40.5%;
}
.individualProgram .optionsIndividualProgram .options-items:nth-child(1) .options ul li {
  width: 50%;
}
.individualProgram .optionsIndividualProgram .options-items:nth-child(2) {
  width: 57.5%;
  margin-left: 20px;
}
.individualProgram .optionsIndividualProgram .options-items:nth-child(2) .options ul li {
  width: 25%;
}
.individualProgram .orderIndividualProgram {
  margin-top: 66px;
  color: #2C2C2C;
  display: flex;
  position: relative;
}
.individualProgram .orderIndividualProgram h3 {
  font-size: 42px;
  letter-spacing: 0.02em;
  line-height: 57px;
  font-family: "Open Sans";
  font-weight: bold;
  font-style: normal;
}
.individualProgram .orderIndividualProgram p {
  margin-top: 6px;
  font-size: 20px;
  line-height: 26px;
  width: 80%;
  font-style: normal;
  font-weight: normal;
  text-align: left;
}
.individualProgram .orderIndividualProgram .clickOrder {
  position: absolute;
  right: 0;
  top: 0;
  width: 32.01%;
  height: 64px;
}
.individualProgram .orderIndividualProgram .clickOrder button {
  width: 100%;
  height: 100%;
  background-color: #2C2C2C;
  border: 0;
  color: #ffffff;
  font-family: "Open Sans";
  line-height: 30px;
  font-size: 22px;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.workshops {
  font-family: "Open Sans";
  margin-top: 100px;
}
.workshops h2 {
  font-size: 48px;
  line-height: 53px;
  font-weight: bold;
  font-style: normal;
  width: 80%;
}
.workshops .alice-carousel {
  margin-top: 64px;
}
.workshops .alice-carousel .alice-carousel__dots {
  display: none;
}
.workshops .alice-carousel .alice-carousel__slide-info {
  background-color: transparent;
  color: #000000;
}
.workshops .alice-carousel .alice-carousel__prev-btn {
  width: auto;
  padding-left: 0 !important;
}
.workshops .alice-carousel .alice-carousel__next-btn {
  padding-left: 50px;
}
.workshops .alice-carousel span[data-area=prev]:after, .workshops .alice-carousel span[data-area=next]:after {
  color: transparent;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/left.svg");
}
.workshops .alice-carousel span[data-area=prev]:after {
  background-image: url("../images/left.svg");
}
.workshops .alice-carousel span[data-area=next]:after {
  background-image: url("../images/right.svg");
}
.workshops .alice-carousel .alice-carousel__slide-info {
  position: absolute;
  left: 34px;
  bottom: 27px;
  top: auto;
  right: auto;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
}
.workshops .alice-carousel .item {
  position: relative;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 323px;
  margin-left: 20px !important;
  cursor: pointer;
}
.workshops .alice-carousel .item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 50.14%, #000000 100%);
}
.workshops .alice-carousel .item h2 {
  color: #ffffff;
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 27px;
  line-height: 35px;
  width: 80%;
  position: absolute;
  bottom: 0;
  padding: 16px;
}
.workshops .alice-carousel .first-item {
  margin-left: 0 !important;
}
.workshops .seminars {
  margin-top: 36px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.workshops .seminars-item {
  height: 520px;
  background: rgba(98, 32, 0, 0.1);
  position: relative;
}
.workshops .seminars-item .wrapper {
  width: 92.28%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.workshops .seminars-item .owner-cont {
  width: 100%;
  height: 80.7%;
  position: relative;
}
.workshops .seminars-item .type {
  margin-top: 16px;
  font-size: 20px;
  line-height: 22px;
  font-family: "Didact Gothic";
  font-weight: normal;
  font-style: normal;
  color: rgba(44, 44, 44, 0.75);
}
.workshops .seminars-item .title {
  height: 100px;
  margin-top: 8px;
  margin-bottom: 66px;
}
.workshops .seminars-item .title h4 {
  font-size: 26px;
  line-height: 28px;
  font-style: normal;
  font-weight: 600;
  color: #2C2C2C;
}
.workshops .seminars-item .cont-desc {
  position: absolute;
  bottom: 0;
  width: inherit;
}
.workshops .seminars-item .cont-desc .group {
  position: relative;
}
.workshops .seminars-item .cont-desc .group::before {
  background-image: url("/images/audience.svg");
}
.workshops .seminars-item .cont-desc .group::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 34px;
  height: 34px;
}
.workshops .seminars-item .cont-desc .group p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin-left: 54.96px;
  color: rgba(44, 44, 44, 0.75);
}
.workshops .seminars-item .cont-desc .time {
  position: relative;
  margin-top: 20px;
}
.workshops .seminars-item .cont-desc .time::before {
  background-image: url("/images/time.svg");
}
.workshops .seminars-item .cont-desc .time::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  width: 34px;
  height: 34px;
}
.workshops .seminars-item .cont-desc .time p {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  margin-left: 54.96px;
  color: rgba(44, 44, 44, 0.75);
}
.workshops .seminars-item button {
  width: inherit;
  height: 64px;
  position: absolute;
  bottom: 16px;
  cursor: pointer;
  border: 0;
  background-color: #2C2C2C;
  color: #ffffff;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.02em;
  font-family: "Open Sans";
  font-style: normal;
}

.workshopsPop {
  position: relative;
}
.workshopsPop .popup {
  height: auto !important;
}
.workshopsPop .wrapper {
  width: 95.7%;
}
.workshopsPop .top {
  margin-top: 69px;
  display: flex;
}
.workshopsPop .top .groupP, .workshopsPop .top .time {
  position: relative;
  width: 50%;
}
.workshopsPop .top .groupP p, .workshopsPop .top .time p {
  margin-left: 45px;
  font-family: "Open Sans";
  font-size: 20px;
  line-height: 27px;
  color: rgba(44, 44, 44, 0.75);
}
.workshopsPop .top .groupP::before, .workshopsPop .top .time::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.workshopsPop .top .groupP {
  margin-right: 100px;
}
.workshopsPop .top .groupP::before {
  background-image: url("../images/audience.svg");
}
.workshopsPop .top .time::before {
  background-image: url("../images/time.svg");
}
.workshopsPop .frame {
  overflow: scroll;
  height: 300px;
  margin-top: 43px;
  position: relative;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
}
.workshopsPop .frame::-webkit-scrollbar {
  width: 0;
}
.workshopsPop .frame::before {
  content: "";
  width: 100%;
  height: 5px;
  position: absolute;
  bottom: 0px;
}
.workshopsPop .frame p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  color: #000000;
  width: 100% !important;
}
.workshopsPop .dosh {
  width: 100%;
  border-bottom: 0.5px solid rgba(29, 29, 29, 0.25);
  position: absolute;
  left: 0;
}
.workshopsPop .bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
  margin-bottom: 12px;
}
.workshopsPop .bottom .bottom-title {
  width: 64%;
  margin-right: 15px;
}
.workshopsPop .bottom .bottom-title p {
  font-family: "Didact Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: rgba(44, 44, 44, 0.75);
}
.workshopsPop .bottom .bottom-title h2 {
  margin-top: 8px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 28px;
  color: #2C2C2C;
}
.workshopsPop .bottom button {
  border: none;
  width: 36%;
  height: 58px;
  background-color: #000000;
  color: #E5E5E5;
  letter-spacing: 0.02em;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  cursor: pointer;
}

.contacts {
  margin-top: 78px;
  margin-bottom: 250px;
  position: relative;
}
.contacts .body {
  width: 54.4%;
}
.contacts .left-col h2 {
  margin: 0;
  padding: 0;
  font-size: 44px;
  line-height: 53px;
  font-family: "Open Sans";
  margin-bottom: 15px;
}
.contacts .left-col .social-icons {
  padding: 16px;
  width: 329px;
}
.contacts .left-col .social-icons a {
  margin: 0;
  margin-left: 52px;
}
.contacts .left-col .social-icons a img {
  width: 36px;
  height: 36px;
}
.contacts .left-col .social-icons a:nth-child(1) {
  margin: 0;
}
.contacts .left-col .social-icons .wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contacts .left-col .description {
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 26px;
  font-style: normal;
  font-weight: normal;
}
.contacts .left-col .desc-1 {
  margin-top: 12px;
  margin-bottom: 10px;
}
.contacts .left-col .phone, .contacts .left-col .email {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
}
.contacts .left-col .phone a, .contacts .left-col .email a {
  text-decoration: none;
  color: inherit;
}
.contacts .left-col .phone {
  margin-bottom: 16px;
}
.contacts .left-col .email {
  margin-top: 4px;
}
.contacts .photo {
  background-image: url("../images/2019-12-05.png");
  background-position: top center;
  background-size: cover;
  width: 36.1%;
  height: 590px;
  position: absolute;
  right: 0;
  top: 50px;
}

.feedback {
  margin-top: 78px;
}
.feedback h2 {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 30px;
}
.feedback .alice-carousel__slide-info {
  display: none;
}
.feedback .alice-carousel__prev-btn-wrapper, .feedback .alice-carousel__next-btn {
  display: none;
}
.feedback .alice-carousel__dots li,
.feedback .alice-carousel__dots-item:hover li,
.feedback .alice-carousel__dots-item.__active li {
  display: none;
}
.feedback .alice-carousel {
  margin-top: 78px;
}
.feedback .alice-carousel:hover {
  cursor: grab;
}
.feedback .alice-carousel:active {
  cursor: grabbing;
}
.feedback .alice-carousel .item {
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  margin-left: 20px !important;
}
.feedback .alice-carousel .item:nth-child(1) {
  margin-left: 0;
}
.feedback .awssld__bullets {
  bottom: 0;
}
.feedback .awssld__bullets button {
  width: 6px;
  height: 6px;
}
.feedback .awssld__content {
  background-color: transparent;
  text-align: center;
}
.feedback .awssld__content .body-comment {
  font-size: 26px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Open Sans";
  font-style: normal;
  margin-bottom: 72px;
}
.feedback .awssld__content .about-comment {
  font-family: "Didact Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: rgba(44, 44, 44, 0.75);
}
.feedback .slider {
  position: relative;
  overflow: hidden;
}
.feedback .slider__wrapper {
  display: flex;
  transition: transform 0.6s ease;
}
.feedback .slider__item {
  flex: 0 0 100%;
  max-width: 100%;
}
.feedback .slider__control {
  position: absolute;
  top: 50%;
  display: none;
  align-items: center;
  justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  transform: translateY(-50%);
}
.feedback .slider__control_show {
  display: flex;
}
.feedback .slider__control:hover,
.feedback .slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}
.feedback .slider__control_left {
  left: 0;
}
.feedback .slider__control_right {
  right: 0;
}
.feedback .slider__control::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
}
.feedback .slider__control_left::before {
  background-image: url("../images/left.svg");
}
.feedback .slider__control_right::before {
  background-image: url("../images/right.svg");
}
.feedback .slider__item > div {
  text-align: center;
}
.feedback .slider__item > div .body-comment {
  font-size: 26px;
  line-height: 28px;
  color: #2C2C2C;
  font-family: "Open Sans";
  font-style: normal;
  margin-bottom: 72px;
  margin-top: 50px;
}
.feedback .slider__item > div .about-comment {
  font-family: "Didact Gothic";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 22px;
  color: rgba(44, 44, 44, 0.75);
}
.feedback .carousel {
  border: 1px solid black;
  width: 100%;
  overflow: hidden;
  font-size: 0;
}
.feedback .carousel .wrapper-carousel {
  display: flex;
  width: 150%;
}
.feedback .carousel div {
  border: 1px solid black;
  width: 326.37px;
  height: 200px;
  margin-left: 20px;
}
.feedback .carousel div:nth-child(1) {
  margin-left: 0;
}

.aws-sld__content p {
  transform: translate3d(0, 0, 0);
  opacity: 1;
  transition: transform 0.45s cubic-bezier(0.15, 0.3, 0.15, 1), opacity 0.35s ease-out;
}
.aws-sld__content p:nth-child(2) {
  transition-delay: 0.05s, 0.05s;
}
.aws-sld__content--exit p {
  transition: transform 0.225s cubic-bezier(0.85, 0, 0.85, 0.7), opacity 0.4s ease-out;
}
.aws-sld__content--exit p:nth-child(2) {
  transition-delay: 0.05s, 0.05s;
}
.aws-sld__content--moveLeft p {
  transform: translate3d(-50px, 0, 0);
  opacity: 0;
}
.aws-sld__content--moveRight p {
  transform: translate3d(50px, 0, 0);
  opacity: 0;
}

.overlay-popup {
  transition: 1.5s !important;
  background-color: rgba(9, 7, 9, 0.75);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1300;
  justify-content: center;
  align-items: center;
  display: none;
}

.btnBackClose {
  background-color: transparent;
  width: 100%;
  height: 100%;
  z-index: 1500;
  position: fixed;
  cursor: pointer;
}

.popup {
  z-index: 1500;
  width: 73.5%;
  min-width: 310px;
  height: 423px;
  display: flex;
  flex-direction: column;
  background: #F4F5F8;
  position: relative;
  overflow: hidden;
  bottom: -700px;
}
.popup .top-bar {
  border-bottom: 0.5px solid rgba(29, 29, 29, 0.25);
  font-family: "Open Sans";
  font-size: 18px;
  line-height: 20px;
  color: rgba(29, 29, 29, 0.4);
}
.popup .top-bar .active, .popup .top-bar ul li:hover, .popup .top-bar .consultation .header nav ul li:hover, .consultation .header nav ul .popup .top-bar li:hover {
  border-bottom: 1px solid #1D1D1D;
  color: #1D1D1D;
}
.popup .top-bar ul {
  margin-top: 36px;
}
.popup .top-bar ul li {
  display: inline-block;
  list-style: none;
  margin-left: 11px;
  padding-bottom: 8px;
  cursor: pointer;
  transition: 0.5s;
}
.popup .top-bar ul li:nth-child(1) {
  margin-left: 0;
}
.popup .form-contain {
  margin-top: 18px;
}
.popup .form-contain p {
  font-size: 18px;
  line-height: 23px;
  width: 79.5%;
  margin-bottom: 20px;
}
.popup .form-contain p a {
  color: inherit;
}
.popup .form-contain input {
  background-color: none;
  color: rgba(29, 29, 29, 0.4);
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  border: none;
  background-color: #F4F5F8;
  border-bottom: 0.5px solid rgba(29, 29, 29, 0.25);
  width: 100%;
  margin-top: 32px;
  padding-left: 5px;
  padding-bottom: 3px;
  outline: none;
}
.popup .form-contain input:nth-child(1) {
  margin-top: 0;
}
.popup .form-contain input[type=submit] {
  color: #F4F5F8;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.02em;
  background-color: #2C2C2C;
  width: 310px;
  height: 58px;
  margin-top: 105px;
  cursor: pointer;
  position: absolute;
  bottom: 0;
}
.popup .form-contain form {
  position: relative;
  height: 211px;
}
.popup .form-contain form .callback, .popup .form-contain form .emailsend {
  position: absolute;
  transition: 0.5s;
}
.popup .form-contain form .emailsend {
  left: 150%;
}
.popup .btn_close {
  width: 24.01px;
  height: 24.01px;
  position: absolute;
  right: 18px;
  top: 18px;
  background-image: url("../images/cross.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

/*
@media screen and (max-width: 1470px) {
  header {
    background-image: url('/images/MJ1C4952 2.png');
  }
}
*/
/*
@media screen and (max-width: 1430px) {
  header {
    background-size: 714px;
  }
}

@media screen and (max-width: 1380px) {
  header {
    background-size: 674px;
  }
}
@media screen and (max-width: 1240px) {
  header {
    background-size: 654px;
  }
}
*/
@media screen and (max-width: 1410px) {
  .menu .nav-bar li {
    font-size: 15.5px;
    line-height: 16px;
    margin-left: 18px;
  }
}
@media screen and (max-width: 1380px) {
  header {
    background-position: bottom right -18%;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper {
    width: 77.1%;
  }

  header {
    min-height: 802px;
    background-size: 730px;
  }
  header .title {
    width: 328px;
  }
  header .title .top-col-1 h2 {
    font-size: 58px;
    line-height: 64px;
    margin-top: 275px;
  }
  header .title .top-col-1 p {
    font-size: 16px;
    line-height: 22px;
  }
  header .title .bottom-col-1 {
    margin-bottom: 108px;
  }
  header .subtitle {
    margin-bottom: 108px;
    width: 288px;
  }
  header .subtitle p {
    font-size: 15px;
    line-height: 20px;
  }

  .consultation button {
    width: 415px;
  }

  .contacts .body .left-col h2 {
    font-size: 44px;
    line-height: 48px;
  }
  .contacts .photo {
    height: 547px;
    width: 42.2%;
  }
}
@media screen and (max-width: 1140px) {
  header {
    background-position: bottom right -21%;
    background-size: 650px;
  }
}
@media screen and (max-width: 1070px) {
  header {
    background-position: bottom right -29%;
  }

  .menu .nav-bar li {
    font-size: 15px;
    line-height: 16px;
    margin-left: 16px;
  }

  .workshops .seminars-item .owner-cont .cont-desc .group::before, .workshops .seminars-item .owner-cont .cont-desc .time::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 32px;
    height: 32px;
  }
  .workshops .seminars-item .owner-cont .cont-desc .group p, .workshops .seminars-item .owner-cont .cont-desc .time p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 21px;
    margin-left: 54.96px;
    color: rgba(44, 44, 44, 0.75);
  }
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: 83%;
  }

  header {
    min-height: 768px;
  }
  header .title .top-col-1 h2 {
    font-size: 44px;
    line-height: 48px;
  }
  header .title .top-col-1 p {
    font-size: 16px;
    line-height: 22px;
  }
  header .title .bottom-col-1 {
    margin-bottom: 78px;
  }
  header .subtitle {
    margin-bottom: 78px;
  }
  header .social-icons {
    display: none;
  }

  .consultation .header h2 {
    font-size: 44px;
    line-height: 48px;
  }
}
@media screen and (max-width: 1000px) {
  .workshops .item h2 {
    font-size: 23px !important;
    line-height: 29px !important;
  }

  .workshopsPop .popup {
    height: 600px;
  }
  .workshopsPop .top {
    margin-top: 20px;
  }
  .workshopsPop .top .groupP p, .workshopsPop .top .time p {
    font-size: 15px;
    line-height: 22px;
  }
  .workshopsPop .top .groupP {
    margin-right: 10px;
  }
  .workshopsPop .frame {
    height: 200px;
    margin-top: 13px;
  }
  .workshopsPop .bottom {
    margin-top: 10px;
  }
  .workshopsPop .bottom .bottom-title {
    width: auto;
  }
  .workshopsPop .bottom .bottom-title p {
    font-size: 16px;
    line-height: 20px;
  }
  .workshopsPop .bottom .bottom-title h2 {
    font-size: 20px;
    line-height: 22px;
  }
  .workshopsPop .bottom button {
    font-size: 19px;
    width: 280px;
  }

  .menu .nav-bar li {
    font-size: 14.7px;
    line-height: 16px;
    margin-left: 13px;
  }

  .consultation .header nav {
    font-size: 16px;
    line-height: 19px;
  }
  .consultation .body h6 {
    font-size: 16px;
    line-height: 20px;
  }
  .consultation .body p {
    font-size: 16px;
    line-height: 26px;
  }
  .consultation button {
    width: 385px;
  }

  .seminars-item .owner-cont .cont-desc .group::before, .seminars-item .owner-cont .cont-desc .time::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 24px;
    height: 24px;
  }
  .seminars-item .owner-cont .cont-desc .group p, .seminars-item .owner-cont .cont-desc .time p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    margin-left: 54.96px;
    color: rgba(44, 44, 44, 0.75);
  }
}
@media screen and (max-width: 920px) {
  .menu {
    position: fixed;
    top: 0;
    height: 35px;
  }
  .menu .wrapper {
    flex-direction: column;
  }
  .menu .wrapper .social-icons {
    display: block;
    margin-bottom: 38px;
    overflow: hidden;
  }
  .menu .menu_btn {
    display: block;
  }
  .menu .nav-bar {
    display: block;
    overflow: hidden;
    margin-top: 70px;
  }
  .menu .nav-bar li {
    display: block !important;
    margin-top: 36px;
    font-size: 18px;
    line-height: 20px;
  }
  .menu .nav-bar li:nth-child(1) {
    margin-top: 0;
  }

  header {
    background-position: center bottom -120px;
  }
  header .title {
    width: 100%;
    margin: 0 auto;
    padding-top: 89px;
    justify-content: flex-start;
  }
  header .title .top-col-1 h2 {
    width: 249px;
    margin: 0;
  }
  header .title .top-col-1 p {
    font-size: 16px;
    line-height: 18px;
    width: 270px;
  }
  header .title .bottom-col-1 {
    display: none;
  }
  header .subtitle {
    width: 230px;
  }
  header .subtitle p {
    font-size: 16px;
    line-height: 18px;
  }

  .individualProgram p:nth-child(1) {
    font-size: 18px;
    line-height: 23px;
  }
  .individualProgram p:nth-child(3) {
    font-size: 18px;
    line-height: 28px;
  }
  .individualProgram p:nth-child(4) {
    font-size: 18px;
    line-height: 28px;
  }
  .individualProgram p:nth-child(5) {
    font-size: 18px;
    line-height: 28px;
  }
  .individualProgram p:nth-child(6) {
    font-size: 18px;
    line-height: 28px;
  }
  .individualProgram .optionsIndividualProgram .options-items .options ul li {
    font-size: 18px;
    line-height: 25px;
  }
  .individualProgram .orderIndividualProgram h3 {
    font-size: 32px;
    line-height: 44px;
  }
  .individualProgram .orderIndividualProgram p {
    font-size: 13px;
    line-height: 17px;
  }
  .individualProgram .orderIndividualProgram .clickOrder button {
    font-size: 18px;
    line-height: 25px;
  }

  .workshops .seminars {
    display: block !important;
  }
  .workshops .seminars-item {
    margin-bottom: 15px;
    height: 401px !important;
  }
  .workshops .seminars-item .owner-cont .cont-desc .group::before, .workshops .seminars-item .owner-cont .cont-desc .time::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 24px;
    height: 24px;
  }
  .workshops .seminars-item .owner-cont .cont-desc .group p, .workshops .seminars-item .owner-cont .cont-desc .time p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-left: 54.96px;
    color: rgba(44, 44, 44, 0.75);
  }
  .workshops .seminars-item button {
    height: 42px;
    font-size: 18px;
    line-height: 25px;
  }

  .about .about-items-1 {
    display: flex;
    flex-direction: column;
  }
  .about .about-items-1 .photo-items-1 {
    align-self: flex-end;
    position: static;
    width: 52%;
    height: 379px;
    margin-top: 30px;
  }
  .about .about-items-1 p {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
  }
  .about .about-items-2 p {
    width: 100%;
    font-size: 16px;
    line-height: 21px;
  }
  .about .about-items-2 .photo-items-2 {
    position: static;
    width: 52%;
    margin-top: 30px;
  }

  .contacts .photo {
    display: none;
  }
  .contacts .body .social-icons {
    position: absolute;
    left: 0;
    width: 100%;
    padding: 0;
    padding-top: 18px;
    padding-bottom: 18px;
    /*
      .wrapper {
        display: flex;
        justify-content: center;
      }
      */
  }
  .contacts .body {
    width: 100%;
  }
  .contacts .body .left-col .description {
    font-size: 16px;
  }
  .contacts .body .left-col .phone, .contacts .body .left-col .email {
    font-size: 22px;
    line-height: 30px;
  }
  .contacts .desc-1 {
    margin-top: 100px !important;
  }
}
@media screen and (max-width: 670px) {
  .workshops .item h2 {
    font-size: 21px !important;
    line-height: 24px !important;
  }

  /*
    .workshopsPop {
      .popup {
        height: 550px;
      }
      .top {
        margin-top: 20px;
       .groupP, .time {
         p {
          font-size: 16px;
         }
        }
        .groupP {
          //margin-right: 0;
        }
      }
      .frame {
        height: 200px;
      }
      .bottom {
        margin-top: 10px;
        .bottom-title {
          width: auto;
          p {
            font-size: 16px;
          }
          h2 {
            font-size: 22px;
          }
        }
        button {
          font-size: 19px;
          width: 280px;
        }
      }
    }
  */
  .feedback h2 {
    font-size: 22px;
    line-height: 28px;
  }

  .popup {
    width: 95.5%;
  }
  .popup .btn_close {
    top: 21px;
    right: 15px;
    width: 23.97px;
    height: 13.41px;
    background-image: url("../images/arrow.svg");
  }
  .popup .top-bar ul li {
    font-size: 16px;
  }
  .popup .form-contain p {
    font-size: 16px;
    line-height: 21px;
    width: 85.5%;
  }
  .popup .form-contain form {
    display: flex;
    bottom: 0;
    justify-content: center;
  }
  .popup .form-contain form input[type=submit] {
    bottom: 10px;
    width: 320px;
    height: 52px;
    font-size: 18px;
    line-height: 25px;
  }

  .wrapper {
    width: 90%;
  }

  header {
    min-height: 800px;
    background-size: 650px;
  }
  header .subtitle {
    display: none;
  }
  .consultation .header h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .consultation .body h2 {
    font-size: 16px;
    line-height: 21px;
  }
  .consultation .body p {
    font-size: 16px;
    line-height: 25px;
  }
  .consultation button {
    width: 100%;
    font-size: 18px;
    line-height: 25px;
    height: 42px;
  }
  .consultation .wrapper:nth-child(3) {
    width: 100%;
  }

  .individualProgram h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .individualProgram .optionsIndividualProgram {
    display: block;
    position: absolute;
    width: 100%;
    left: 0;
  }
  .individualProgram .optionsIndividualProgram .options-items {
    width: 100% !important;
  }
  .individualProgram .optionsIndividualProgram .options-items button {
    height: 39.53px !important;
  }
  .individualProgram .optionsIndividualProgram .options-items:nth-child(1) {
    left: 0;
    width: 100%;
  }
  .individualProgram .optionsIndividualProgram .options-items:nth-child(1) p {
    margin-left: 5%;
  }
  .individualProgram .optionsIndividualProgram .options-items:nth-child(2) {
    left: 0;
    width: 100%;
    margin-left: 0px;
    margin-top: 33px;
  }
  .individualProgram .optionsIndividualProgram .options-items:nth-child(2) p {
    margin-left: 5%;
  }
  .individualProgram .optionsIndividualProgram .options-items:nth-child(2) .options ul li {
    width: 50%;
  }
  .individualProgram .orderIndividualProgram {
    position: static;
    margin-top: 350px;
    height: 170px;
  }
  .individualProgram .orderIndividualProgram h3 {
    font-size: 32px;
    line-height: 44px;
  }
  .individualProgram .orderIndividualProgram p {
    font-size: 13px;
    line-height: 17px;
  }
  .individualProgram .orderIndividualProgram .clickOrder {
    top: auto;
    right: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 42px;
  }
  .individualProgram .orderIndividualProgram .clickOrder button {
    line-height: 25px;
    font-size: 18px;
  }

  .about h2 {
    font-size: 26px;
    line-height: 28px;
  }
  .about .about-items-1 .photo-items-1 {
    width: 82%;
  }
  .about .about-items-2 .photo-items-2 {
    height: 500px;
    width: 82%;
  }

  .workshops h2 {
    font-size: 22px;
    line-height: 24px;
  }

  .workshops .wrapper:nth-child(2) {
    width: 100%;
  }
  .workshops .seminars-item {
    height: 520px !important;
  }

  .contacts .body .left-col h2 {
    font-size: 22px;
    line-height: 24px;
  }
  .contacts .body .social-icons a {
    margin-left: 38px;
  }
  .contacts .body .social-icons img {
    width: 32px !important;
    height: 32px !important;
  }
}
@media screen and (max-width: 550px) {
  header {
    background-size: 550px;
  }

  .workshopsPop .bottom {
    flex-direction: column;
    align-items: center;
  }
  .workshopsPop .bottom .bottom-title {
    align-self: center;
  }
  .workshopsPop .bottom .bottom-title p {
    width: auto !important;
  }
  .workshopsPop .bottom button {
    margin-top: 30px;
    align-self: center;
  }
}
@media screen and (max-width: 420px) {
  .workshops .alice-carousel .item {
    height: 263px;
    margin-left: 0 !important;
  }
  .workshopsPop .top .groupP {
    margin-right: 20px !important;
  }

  .popup .top-bar ul li {
    font-size: 14px;
    line-height: 19px;
  }

  header {
    background-size: 450px;
    min-height: 625px;
    max-height: 700px;
  }
  header .title {
    padding-top: 100px;
  }
  header .title .top-col-1 h2 {
    font-size: 32px;
    line-height: 35px;
  }
  header .title .top-col-1 p {
    font-size: 14px;
    line-height: 19px;
  }

  .wrapper {
    width: 90%;
  }

  .consultation .header h2 {
    font-size: 26px;
  }
  .consultation .header nav {
    font-size: 16px;
  }
  .consultation .header nav ul li {
    line-height: 18px;
    margin-right: 8px;
  }

  .about .about-items-2 .photo-items-2 {
    height: 346px;
  }

  .workshops .seminars-item .title h4 {
    font-size: 22px;
    line-height: 25px;
  }
}
@media screen and (max-width: 320px) {
  .workshops .alice-carousel .item {
    height: 243px;
  }
}

/*# sourceMappingURL=index.css.map */
