$defaultFontColor: #2C2C2C;
$defaultFontSize: 16px;
$defaultBackground: white;
$defaultFont: 'Didact Gothic';

body {
 background-color: $defaultBackground;
 font-size: $defaultFontSize;
 color: $defaultFontSize;
 font-family: $defaultFont;
} 
.wrapper {

  margin-left: 146px;
  margin-right: 146px;
}

header {
  display: flex;
  flex-direction: row;
  height: 802px;

  .title h2 {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 44px;
    margin-bottom: 21px;
    line-height: 48px;
  }
  .title p {
    margin: 0;
    padding: 0;
    line-height: 21px;
  }
  .title {
    width: 328px;
    margin-top: 215px;
    //margin-left: 146px;
  }
  .bottom-col-1 {
    width: 328px;
    line-height: 21px;
    margin-top: 189px;
    margin-bottom: 36px;
    //margin-left: 146px;

  }
  .social-icons img {
    margin-left: 16px;
  }
  .social-icons {
    margin-top: 36px;
  }
  .social-icons img:nth-child(1) {
    margin: 0 !important;
  }

  .col-1 {
    width: 50.8%;
    //display: flex;
    //flex-direction: column;
    //justify-content: space-between;
  
  }
  .col-2 {
    background-image: url('/images/MJ1C4952 1.png');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    width: 49.2%;
      .overlay {
        background: linear-gradient(360deg, #010101 20.69%, rgba(1, 1, 1, 0) 50%);
        width: 100%;
        height: 100%;
          p {
            color: white;
            margin: 0;
            padding: 0;
            width: 288px;
            
          }
      }

  }
}

