$defaultFontColor:  #090709;
$defaultFontSize: 16px;
$defaultBackground: #F4F5F8;
$defaultFont: 'Didact Gothic';

body {
 background-color: $defaultBackground;
 font-size: $defaultFontSize;
 color: $defaultFontColor;
 font-family: $defaultFont;
 min-width: 320px;
} 
.wrapper {
  margin: 0 auto;
  width: 67.7%;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.noindentation {
  margin: 0;
  padding: 0;
}

.social-icons {
  display: flex;
  align-items: center;
  //transition: 0.1s;
    a {
      text-decoration: none;
      margin-left: 20px;
      img {
        width: 24px;
        height: 24px;
      }
    }
    a:nth-child(1) {
      margin-left: 0;
    }
}

.menu { 
  z-index: 1000;
  background-color: #F4F5F8;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 56px;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  transition: 0.5s;

  .wrapper {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  .menu_btn {
    position: absolute;
    right: 0;
    top: 0;
    //background-image: url('../images/menu.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: 34px;
    height: 14px;
    cursor: pointer;
    margin-top: 10px;
    display: none;
  }

  .nav-bar {
    @extend .noindentation;
    text-align: center;
    display: flex;
    align-items: center;
    height: inherit;
    transition: 0.5s;

    li {
      @extend .noindentation;
      display: inline-block;
      font-size: 18px;
      line-height: 20px;
      font-weight: 600;
      font-style: normal;
      font-family: 'Open Sans';
      margin-left: 30px;
      list-style: none;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
    li:nth-child(1) {
      margin-left: 10px;
    }
    .active {
      //border-bottom: 1px solid black;
    }
  }


}

header {
  position: relative;
  max-height: 960px;
  min-height: 850px;
  height: 100vh;
  background-image: url('/images/MJ1C4952 2.png');
  background-position: bottom right -5%;
  //background-attachment: fixed;
  background-size: 750px;
  background-repeat: no-repeat;

  .subheader {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 100%;
    position: relative;
  }
  
  .photo {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 50%;
    background-image: url('/images/MJ1C4952.png');
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .title {
    width: 400px;
    align-self: flex-start;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    .top-col-1 {
        h2 {
            margin: 0;
            padding: 0;
            font-family: 'Playfair Display SC';
            font-size: 68px;
            line-height: 70px;
            margin-top: 200px;     
            margin-bottom: 13px;   
        }
        p {
            @extend .noindentation;
            font-size: 18px;
            line-height: 25px;
            color: rgba(9, 7, 9, 0.75);
            margin-bottom: 116px;            
        }
  }
}

  .subtitle {
    width: 365px;
    align-self: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 100;
    color: #F9F1ED;
    height: inherit;
    text-align: right;
    margin-bottom: 128px;

    p {
      margin: 0;
      padding: 0;
      font-size: 20px;
      line-height: 27px;
      font-weight: 300;
      font-style: italic;
      font-family: 'Open Sans';
    }
  }
  .bottom-col-1 {
    line-height: 26px;
    font-size: 20px;
    position: relative;
    p {
      @extend .noindentation;
      font-style: italic;
      font-family: 'Open Sans';
      font-size: 20px;
      line-height: 27px;
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        right: -80px;
      }
    }
  }
}

.consultation {
  margin-top: 100px;
  .header {
    h2 {
      margin: 0;
      padding: 0;
      font-size: 48px;
      line-height: 53px;
      font-weight: bold;
      font-style: normal;
      font-family: 'Open Sans';
    }
    nav {
      border-bottom: 0.5px solid rgba(29, 29, 29, 0.25);;
      font-family: 'Open Sans';
      font-size: 18px;
      margin-top: 32px;
    }
    nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
      .active {
        transition: 0.1s;
        color: #1D1D1D;
        border-bottom: 0.5px solid #1D1D1D;        
      }
      li {
        display: inline-block;
        margin: 0;
        padding: 0;
        margin-right: 16px;
        line-height: 20px;
        color: rgba(29, 29, 29, 0.4);
        padding-bottom: 8px;
        cursor: pointer;
      }
      li:last-child {
          margin-right: 0;
      }
    }
  }

  .body {
    margin-top: 32px;
    color: #2C2C2C;
    h6 {
      @extend .noindentation;
      font-size: 18px;
      line-height: 23px;
      font-style: normal;
      font-weight: 300;
      margin-bottom: 19px;
    }
    p {
      margin: 0;
      padding: 0;
      font-size: 22px;
      line-height: 34px;
    }
  }

  button {
    margin-top: 64px;
    width: 440px;
    height: 64px;
    cursor: pointer;
    font-family: 'Open Sans';
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 0.02em;
    color: #ffffff;
    background-color: #000000;
    border: 0;
  }
}

.about {
    margin-top: 100px;
    h2 {
      margin: 0;
      padding: 0;
      font-size: 48px;
      line-height: 53px;
      font-weight: bold;
      font-style: normal;
      font-family: 'Open Sans';
      color: #2C2C2C;
      margin-bottom: 31px;
    }

   .about-items-1 {
    margin-bottom: 128px;
    position: relative;

    .photo-items-1 {
      position: absolute;
      width: 44.8%;
      height: 586px;
      right: 0;
      top: 0;
      background-image: url('/images/MJ1C4970 2.png');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
    }

    p {
      margin: 0;
      padding: 0;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      text-align: left;
      width: 49%;
    }
  }

  .about-items-2 {
    position: relative;

    .wrapper {
      display: flex;
      justify-content: flex-end;
    }
    p {
      width: 57%;
      font-size: 18px;
      line-height: 24px;
    }
    .photo-items-2 {
      position: absolute;
      left: 0;
      top:0;
      background-image: url('/images/MJ1C4875 1.png');
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      width: 37.8%;
      height: 624px;
    }
  }

}

.individualProgram {
  position: relative;
  margin-top: 100px;
  h2 {
    font-size: 48px;
    line-height: 53px;
    font-family: 'Open Sans';
    color: #2C2C2C;
  }
  p {
    margin: 0;
    padding: 0;
    color: #2C2C2C;
  }
  .subtitle {
      font-size: 20px;
      line-height: 26px;     
      margin-bottom: 26px;
      font-style: normal;
      font-weight: normal;
  }

  @for $i from 3 through 6 {
    p:nth-child(#{$i}) {
      font-size: 22px;
      line-height: 34px;         
      font-weight: normal;
      font-style: normal;   
    }
  }

  .optionsIndividualProgram {
    display: flex;
    flex-direction: row;
    margin-top: 36px;
    font-family: 'Open Sans';
    .options-items { 
      p {
        @extend .noindentation;
        margin-bottom: 22px;
      }
      .options ul {
        list-style: none;
        @extend .noindentation;
        font-size: 0;
        display: table;
        width: 100%;

        .active {
          background-color:#2C2C2C;
          color: #ffffff;
        }

        li {
          @extend .noindentation;
          display: inline-block;
          font-size: 22px;


          button {
            border: 0;
            background-color:rgba(98, 32, 0, 0.1);
            height: 64px;
            width: 100%;
            letter-spacing: 0.02em;
            cursor: pointer;
          }
        }
      }
    }
    .options-items:nth-child(1) {
        width: 40.5%;
        .options ul li  {
            width: 50%;
        }
    }
    .options-items:nth-child(2) {
        width: 57.5%;
        margin-left: 20px;
        .options ul li  {
          width: 25%;
      }
    }
  }
  .orderIndividualProgram {
      margin-top: 66px;
      color: #2C2C2C;
      display: flex;
      position: relative;
      
      h3 {
        @extend .noindentation;
        font-size: 42px;
        letter-spacing: 0.02em;
        line-height: 57px;
        font-family: 'Open Sans';
        font-weight: bold;
        font-style: normal;
      }
      p {
        @extend .noindentation;
        margin-top: 6px;
        font-size: 20px;
        line-height: 26px;
        width: 80%;
        font-style: normal;
        font-weight: normal;
        text-align: left;
      }

      .clickOrder {
        
       // border: 1px solid black;
        position: absolute;
        right: 0;
        top: 0;
        width: 32.01%;
        height: 64px;
        button {
          width: 100%;
          height: 100%;
          background-color: #2C2C2C;
          border: 0;
          color: #ffffff;
          font-family: 'Open Sans';
          line-height: 30px;
          font-size: 22px;
          letter-spacing: 0.02em;
          cursor: pointer;
        }
      }
  }
}

@mixin setIconWorkshops($fonts, $lineh, $widthIcon, $heightIcon) {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    width: $widthIcon;
    height: $heightIcon;
  }
  p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: $fonts;
    line-height: $lineh;
    margin-left: 54.96px;
    color: rgba(44, 44, 44, 0.75);
  }
}

.workshops {
  font-family: 'Open Sans';
  margin-top: 100px;
  h2 {
    @extend .noindentation;
    font-size: 48px;
    line-height: 53px;   
    font-weight: bold;
    font-style: normal;
    width: 80%;
  }
  .seminars {
    margin-top: 36px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;


    &-item {
      height: 520px;
      background: rgba(98, 32, 0, 0.1);
      position: relative;

      .wrapper {
        width: 92.28%;
        height: 100%;
        display: flex;
        flex-direction: column;
        
      }

      .owner-cont {
        width: 100%;
        height: 80.7%;
        position: relative;
       
      }

      .type {
        @extend .noindentation;
        margin-top: 16px;
        font-size: 20px;
        line-height: 22px;
        font-family: 'Didact Gothic';
        font-weight: normal;
        font-style: normal;
        color: rgba(44, 44, 44, 0.75);
      }

      .title {        
        height: 100px;
        margin-top: 8px;
        margin-bottom: 66px;
          h4 {
            @extend .noindentation;
            font-size: 26px;
            line-height: 28px;
            font-style: normal;
            font-weight: 600;
            color: #2C2C2C;
          }
      }
     .cont-desc { 
       position: absolute;
       bottom: 0;
       width: inherit;
        .group {
          position: relative;
          &::before {
            background-image: url('/images/audience.svg');
          }
          @include setIconWorkshops(20px, 27px, 34px, 34px);
        }

        .time {
          position: relative;
          margin-top: 20px;
          //margin-bottom: 5px;
          &::before {
            background-image: url('/images/time.svg');
          }
          @include setIconWorkshops(20px, 27px, 34px, 34px);
        }
    }
      button {
        width: inherit;
        height: 64px;
        position: absolute;
        bottom: 16px;
        cursor: pointer;
        border: 0;
        background-color: #2C2C2C;
        color: #ffffff;
        font-size: 22px;
        line-height: 30px;
        letter-spacing: 0.02em;
        font-family: Open Sans;
        font-style: normal;
      }
    }
  }
}

.contacts {
  margin-top: 78px;
  margin-bottom: 250px;
  position: relative;

  .body {
    width: 54.4%;
  }

 .left-col { 
      h2 {
        margin: 0;
        padding: 0;
        font-size: 44px;
        line-height: 53px;
        font-family: 'Open Sans';
        margin-bottom: 15px;
      }

      .social-icons {
        padding: 16px;
        width: 329px;
        a {
          margin: 0;
          margin-left: 52px;
          img {
            width: 36px;
            height: 36px;
          }
        }
        a:nth-child(1) {
          margin: 0;
        }

        .wrapper {
          width: 100%;
          display: flex;
          justify-content: center;          
        }
      }

      .description {
          margin: 0;
          padding: 0;
          font-size: 20px;
          line-height: 26px;
          font-style: normal;
          font-weight: normal;
      }
      .desc-1 {
        margin-top: 12px;
        margin-bottom: 10px;
      }
      .phone, .email {
        margin: 0;
        padding: 0;
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 44px;
        a {
          text-decoration: none;
          color: inherit;
        }
      }
      .phone {
        margin-bottom: 16px;
      }
      .email {
        margin-top: 4px;
      }
 }

 .photo {
    background-image: url('../images/2019-12-05.png');
    background-position: top center;
    background-size: cover;
    width: 36.1%;
    height: 590px;
    position: absolute;
    right: 0;
    top: 50px;
 }
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
}

/*
@media screen and (max-width: 1470px) {
  header {
    background-image: url('/images/MJ1C4952 2.png');
  }
}
*/
/*
@media screen and (max-width: 1430px) {
  header {
    background-size: 714px;
  }
}

@media screen and (max-width: 1380px) {
  header {
    background-size: 674px;
  }
}
@media screen and (max-width: 1240px) {
  header {
    background-size: 654px;
  }
}
*/


@media screen and (max-width: 1410px) {
  .menu .nav-bar li {
     font-size: 15.5px;
     line-height: 16px;
     margin-left: 18px;
 }
}

@media screen and (max-width: 1380px) {
  header {
    background-position: bottom right -18%;
  }
}

//Laptop
@media screen and (max-width: 1280px) {

  .menu .nav-bar li {
     // font-size: 16px;
     // line-height: 17px;
  }

  .wrapper {
    width: 77.1%;
  }
  header {
    min-height: 802px;
    //background-position: bottom right -20%;
    background-size: 730px;
    .title {
      width: 328px;
      .top-col-1 {
       h2 {
        font-size: 58px ;
        line-height: 64px;
        margin-top: 275px;
      }
       p {
        font-size: 16px;
        line-height: 22px;
      }
    }
      .bottom-col-1 {
        margin-bottom: 108px;
      }
    }
    .subtitle {
      margin-bottom: 108px;
      width: 288px;
      p {
        font-size: 15px;
        line-height: 20px;
      }
    }
  }

  .consultation {
    button {
      width: 415px;
    }
  }
  
  .contacts {
    .body .left-col h2 {
        font-size: 44px;
        line-height: 48px;
      }
      .photo {
        height: 547px;
        width: 42.2%;
      }
  }
}

@media screen and (max-width: 1140px) {
  header {
    background-position: bottom right -21%;
    background-size: 650px;
  }
}

//special for master class
@media screen and (max-width: 1070px) {

  header {
    background-position: bottom right -29%;
    //background-size: 600px;
  }

  .menu .nav-bar li {
    font-size: 15px;
    line-height: 16px;
    margin-left: 16px;
}

  .workshops {
    .seminars {      
      &-item {        
        .owner-cont { 
          .cont-desc {
            .group, .time {
              @include setIconWorkshops(19px, 21px, 32px, 32px);
            }
          }
        }
      }
    }
}
}


//Tablet
@media screen and (max-width: 1024px) {

  .wrapper {
    width: 83%;
  }

  header {
    min-height: 768px;

    .title {
     
     .top-col-1 { 
      h2 {
        //margin-top: px;
        font-size: 44px;
        line-height: 48px;
      }
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
      .bottom-col-1 {
        margin-bottom: 78px;
      }
    }
    .subtitle {
      margin-bottom: 78px;
    }
    .social-icons {
      display: none;
    }
  }

  .consultation {
    .header {
      h2 {
        font-size: 44px;
        line-height: 48px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {

  .menu .nav-bar li {
    font-size: 14.7px;
    line-height: 16px;
    margin-left: 13px;
}

  header { 
    .overlay {
        //background: linear-gradient(360deg, #010101 31.07%, rgba(1, 1, 1, 0) 100%);
      }
  }

  .consultation {
    .header {
      nav {
        font-size: 16px;
        line-height: 19px;
      }
    }

    .body {      
      h6 {
        font-size: 16px;
        line-height: 20px;
      }
      p {
        font-size: 16px;
        line-height: 26px;
      }
    }
    button {
      width: 385px;
    }
  }
  .seminars {
    &-item {
      .owner-cont {  
        .cont-desc {
          .group, .time {
            @include setIconWorkshops(18px, 25px, 24px, 24px);
          }
      }
    }
  }
  }
}

@media screen and (max-width: 920px) {

  .menu {
    position: fixed;
    top: 0;
    height: 35px;
    //height: 500px;

    .wrapper {
      flex-direction: column-reverse;

      .social-icons {
        display: block;
        margin-top: 38px;
        overflow: hidden;
      }
    }

    .menu_btn {
      display: block; 
    }

    .nav-bar {
      display: block;
      overflow: hidden;
      margin-top: 70px;
      li {
        display: block !important;
        margin-top: 36px;
        font-size: 18px;
        line-height: 20px;
      }
      li:nth-child(1) {
        margin-top: 0;
        
      }
    }

  }

   header { 
      background-position: center bottom -120px;
    .title {
      width: 100%;
      margin: 0 auto;
      padding-top: 89px;
      justify-content: flex-start;
     .top-col-1 { 
      h2 {
        //font-size: 32px;
        //line-height: 38px;
        width: 249px;
        margin: 0;
      }
      p {
        font-size: 16px;
        line-height: 18px;
        width: 270px;
      }
    }
    .bottom-col-1 {
      display: none;
    }
    }
    
    .subtitle {
      width: 230px;
      p {
        font-size: 16px;
        line-height: 18px;
        }
      }
    }


  .individualProgram {

      p:nth-child(1) {
        font-size: 18px;
        line-height: 23px;     
    }
  
    @for $i from 3 through 6 {
      p:nth-child(#{$i}) {
        font-size: 18px;
        line-height: 28px;         
      }
    }

      .optionsIndividualProgram {
        .options-items {
          .options ul li {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }

      .orderIndividualProgram {
        h3 {
          font-size: 32px;
          line-height: 44px;
        }
        p {
          font-size: 13px;
          line-height: 17px;
        }
        .clickOrder {
          button {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }

    .workshops {
      .seminars {
        display: block !important;
        &-item {
      
          margin-bottom: 15px;
          height: 401px !important;

          .owner-cont { 
            .cont-desc {
              .group, .time {
                @include setIconWorkshops(16px, 22px, 24px, 24px);
              }
            }
          }

          button {
            height: 42px;
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
  }
  
  .about {
    .about-items-1 {
      display: flex;
      flex-direction: column;

      .photo-items-1 {
        align-self: flex-end;
        position: static;
        width: 52%;
        height: 379px;
        margin-top: 30px;
      }
      p {
        width: 100%;
        font-size: 16px;
        line-height: 21px;
      }
    }


    .about-items-2 {
      p {
        width: 100%;
        font-size: 16px;
        line-height: 21px;
      }
      .photo-items-2 {
        position: static;
        width: 52%;
        margin-top: 30px;
      }
    }
  }
  .contacts {
    .photo {
      display: none;
    }
   .body .social-icons {
      position: absolute;
      left: 0;
      width: 100%;
      padding: 0;
      padding-top: 18px;
      padding-bottom: 18px;
      /*
        .wrapper {
          display: flex;
          justify-content: center;
        }
        */
    }
    .body {
      width: 100%;
      .left-col {
        .description {
          font-size: 16px;
        }
        .phone, .email {
          font-size: 22px;
          line-height: 30px;
        }
      }
    }
    .desc-1 {
      margin-top: 100px !important;
    }

  }
}

@media screen and (max-width: 670px) {
  .wrapper {
    width: 90%;
  }
  header {
    min-height: 800px;
    background-size: 650px;


    .subtitle {
      display: none;
    }

    .title {
 
    .bottom-col-1 {
    }

    .top-col-1 { 
        h2 {
  
        }
        p {

        }
      }
    }
  }

  .consultation {
    .header {
      h2 {
        font-size: 26px;
        line-height: 28px;
      }
    }

    .body {
      h2 {
        font-size: 16px;
        line-height: 21px;
      }
      p {
        font-size: 16px;
        line-height: 25px;
      }
    }
    button {
      width: 100%;
      font-size: 18px;
      line-height: 25px;
      height: 42px;
    }

    .wrapper:nth-child(3) {
      width: 100%;
    }

  }

  .individualProgram {
    //height: 700px;
    h2 {
      font-size: 22px;
      line-height: 24px;
    }

    .optionsIndividualProgram {
      display: block;
      position: absolute;
      width: 100%;
      left: 0;
      .options-items {
         width: 100% !important;
        button {
          height: 39.53px !important;
        }
      }
      .options-items:nth-child(1) {
        //position: absolute;
        left: 0;
        width: 100%;
        p {
          margin-left: 5%;
        }
 
    }
      .options-items:nth-child(2) {
        //position: absolute;
        left: 0;
        width: 100%;
        margin-left: 0px;
        margin-top: 33px;
        p {
          margin-left: 5%;
        }
        .options ul li  {
          width: 50%;
      }
    }
    }

    .orderIndividualProgram {
      position: static;
      margin-top: 350px;
      height: 170px;
      h3 {
        font-size: 32px;
        line-height: 44px;
      }
      p {
        font-size: 13px;
        line-height: 17px;
      }
      .clickOrder {
        top: auto;
        right: auto;
        bottom: 0;
        left: 0;
        //left: -100px !important;
        width: 100%;
        height: 42px;
        button {
          line-height: 25px;
          font-size: 18px;
        }
      }
    }
  }

  .about {
    h2 {
      font-size: 26px;
      line-height: 28px;
    }
    .about-items-1 {
      .photo-items-1 {
        width: 82%;
      }
    }
    .about-items-2 {
      .photo-items-2 {
        height: 500px;
        width: 82%;
      }
    }
  }

  .workshops {
    h2 {
      font-size: 22px;
      line-height: 24px;
    }
  }

  .workshops {
    .wrapper:nth-child(2) {
      width: 100%;
    }

    .seminars {
      &-item {
        height: 520px !important;
      }
    }

  }

  .contacts {
    .body {
      .left-col {
        h2 {
          font-size: 22px;
          line-height: 24px;
        }
      }
      .social-icons {
        a {
          margin-left: 38px;
        }
        img {
          width: 32px !important;
          height: 32px !important;
        }
      }
    }
  }

}

@media screen and (max-width: 550px) {
  header {
    background-size: 550px;
  }
}

@media screen and (max-width: 420px) {

  header {
    background-size: 450px;
    min-height: 625px;
    max-height: 700px;

    .title {
      padding-top: 100px;
      .top-col-1 {
      h2 {
        font-size: 32px;
        line-height: 35px;
      }
      p {
        font-size: 14px;
        line-height: 19px;
      }
    }
    }
  }
  .wrapper {
    width: 90%;
  }
  header {
    //height: 607px;
  }

  .consultation {
    .header {
      h2 {
        font-size: 26px;
      }
      nav {
        font-size: 16px;
        ul li {
          line-height: 18px;
          margin-right: 8px;
        }
      }
    }
  }

  .about {
    .about-items-2 {
      .photo-items-2 {
        height: 346px;
      }
    }
  }

.workshops {
  .seminars {
    &-item {
     // height: 590px !important;

      .title {
        h4 {
          font-size: 22px;
          line-height: 25px;
        }
      }
    }
  }
}
}