body {
  background-color: white;
  font-size: 16px;
  color: 16px;
  font-family: "Didact Gothic";
  min-width: 320px;
}

.wrapper {
  margin: 0 auto;
  width: 70%;
}

header {
  display: flex;
  flex-direction: row;
  height: 992px;
}
header .title h2 {
  margin: 0;
  padding: 0;
  font-family: "Open Sans";
  font-weight: bold;
  font-size: 52px;
  margin-bottom: 26px;
  line-height: 57px;
}
header .title p {
  margin: 0;
  padding: 0;
  line-height: 26px;
  font-size: 20px;
}
header .title {
  width: 400px;
  margin-top: 256px;
}
header .bottom-col-1 {
  line-height: 26px;
  margin-top: 260px;
  margin-bottom: 36px;
  font-size: 20px;
}
header .social-icons img {
  margin-left: 16px;
}
header .social-icons {
  margin-top: 46px;
}
header .social-icons img:nth-child(1) {
  margin: 0;
}
header .col-1 {
  width: 50.7%;
  color: #2C2C2C;
}
header .col-2 {
  background-image: url("/images/MJ1C4952 1.png");
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 49.3%;
}
header .col-2 .overlay {
  background: linear-gradient(360deg, #010101 20.69%, rgba(1, 1, 1, 0) 50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}
header .col-2 .overlay p {
  color: #F9F1ED;
  margin: 0;
  padding: 0;
  width: 365px;
  height: 105px;
  margin-bottom: 165px;
  font-size: 20px;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 27px;
  font-style: italic;
  text-align: right;
  float: right;
}

@media screen and (max-width: 1280px) {
  header {
    height: 802px;
  }
  header .title h2 {
    font-size: 44px;
    margin-bottom: 21px;
    line-height: 48px;
    font-size: 44px;
  }
  header .title p {
    line-height: 21px;
    font-size: 16px;
  }
  header .title {
    width: 328px;
    margin-top: 215px;
  }
  header .bottom-col-1 {
    line-height: 21px;
    font-size: 16px;
    margin-top: 189px;
    margin-bottom: 36px;
  }
  header .col-2 .overlay p {
    width: 287px;
    height: 105px;
    margin-bottom: 108px;
    font-size: 15px;
    line-height: 20px;
  }
}
@media screen and (max-width: 1024px) {
  header {
    height: 770px;
  }
  header .title h2 {
    margin-bottom: 26px;
  }
  header .title {
    margin-top: 197px;
  }
  header .bottom-col-1 {
    margin-top: 203px;
  }
  header .social-icons {
    display: none;
  }
  header .col-2 .overlay p {
    margin-bottom: 109px;
  }
}
@media screen and (max-width: 920px) {
  header {
    height: 820px;
  }
  header .title h2 {
    font-size: 35px;
    line-height: 36px;
  }
  header .title p {
    font-size: 14px;
    line-height: 17px;
  }
  header .title {
    margin-top: 150px;
    width: 240px;
  }
  header .bottom-col-1 {
    margin-top: 263px;
  }
  header .col-2 .overlay p {
    margin-bottom: 159px;
    font-size: 14px;
    line-height: 17px;
  }
}
@media screen and (max-width: 720px) {
  header {
    height: 807px;
  }
  header .title {
    margin-top: 0;
    width: 287px;
    margin-top: 329px;
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  header .title h2 {
    font-size: 22px;
    line-height: 24px;
    margin-bottom: 6px;
  }
  header .title p {
    font-size: 16px;
    line-height: 21px;
    font-style: normal;
  }
  header .bottom-col-1 {
    margin-top: 26px;
  }
  header .col-1 {
    position: relative;
    width: 0%;
    height: inherit;
    z-index: 10;
    color: #ffffff !important;
  }
  header .col-2 {
    width: 100%;
    background-image: url("/images/MJ1C4952 2.png");
  }
  header .col-2 .overlay p {
    display: none;
  }
}
@media screen and (max-width: 420px) {
  header {
    height: 607px;
  }
}

/*# sourceMappingURL=index.css.map */
